# Python virtual environments
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code
.vscode/
.idea/

# OS files
.DS_Store

# Databases
*.db
*.sqlite
*.sqlite3

# Book library builder data
02_projects/book_library_builder/data/


# Calibre library (очень важно)
calibre_lib/
*.epub
*.pdf
*.fb2

/home/ag137/Programs/learning-system/.continue